$sizes: 40px, 50px;
@each $size in $sizes {
  .avatar-#{$size} {
    height: $size;
    width: $size;
  }
}

.user-avatar {
  display: inline-block;
  position: relative;
  padding-right: 10px;
}

.status-overlay {
  background-color: #595959;
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 1;
  padding: 2px;
  border-radius: 12px;
  height: 20px;
  display: flex;

  & > svg {
    font-size: 16px;
  }
}

$user_status: ('online': #00b407, 'offline': #808080, 'current': #ffc100f5);
@each $status, $color in $user_status {
  .status--#{$status} {
    color: $color;
  }
}