.navbar {
  min-height: var(--height-navbar);

  button {
    width: max-content;
    padding: 0;
    margin: 0;
  }
}

#linkLogout {
  cursor: pointer;
  margin-left: auto;
  @extend .nav-link;
  transition: all .3s;

  :hover {
    color: red;
  }
}

// Animate hover icon
// ============
$icons: (
        'bi-three-dots-vertical': white,
        'bi-trash-fill': red,
        'bi-capslock-fill': green
);
@each $class, $color in $icons {
  .#{$class} {
    transition: .2s all;

    &:hover {
      color: $color;
    }
  }
}

.bi-capslock-fill-down {
  transform: rotate(180deg);
}