#messenger > .sidebar {
  background: #2f3136;
  min-width: 300px;
  min-height: calc(100vh - var(--height-navbar));
}

#modal__sidebar {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.60);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #555;
  color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

  & > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #f1f1f1;
    }
  }

  & > .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }

  p {
    margin: 0;
  }

  .sidebar__heading {
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
    padding: 16px;
    border-top: 2px solid #535760;
    border-bottom: 2px solid #535760;
  }

  .sidebar__users {
    display: flex;
    flex-direction: column;
    column-gap: space(1);
    background: #484848;
  }

  .sidebar__user {
    display: flex;
    align-items: center;
    column-gap: space(1);
    padding: space(1);
    color: white;
    font-weight: 500;
    font-size: 1rem;
    border-radius: space(1);
    transition: all .3s;
    cursor: pointer;

    &:hover {

      color: #dcddde;
      background: #4f545c29;
    }
  }
}

.OpenSidebar {
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 2;
  color: var(--color-second);
  background: #BF711A;
  width: 50px;
  line-height: 3rem;
  border-radius: 20px 0 0 20px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s;
  padding: 10px;
  display: flex;

  &:hover {
    width: 70px;
  }

  & > svg {
    height: 30px;
    width: 30px;
  }
}