// Vendors
// ============
@import "../../node_modules/bootstrap/scss/bootstrap";

// Utils
// ============
@import "utils/variables";
@import "utils/functions";

// Modules
// ============
@import "modules/layouts";
@import "modules/sidebar";
@import "modules/images";
@import "modules/fileModal";

// Pages
// ============
@import "pages/login";
@import "pages/messagerie";

// Général
// ============
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.navbar-brand > img {
  max-width: 200px;
  object-fit: contain;
}